 /*header*/
 #title {
	padding: 2%;
	background-color: #284b68;
	margin-bottom: 2%;
	border-bottom: solid 10px;
	border-color: #787753;

	 
} 
#title img {
	display: inline-block;
	border: solid 10px;
	border-color: #787753;
	background-color: black;
	max-width:130px; 
	max-height:100px; 
	margin-top: -7px; 
	padding-top: 5px
}
#title h1 {
	display: inline-block;
	margin-left: 10px;
	color:#787753;
	font-family: 'Droid Serif', 'Serif';
}

 /*body sytle*/
 body {
 	
 	font-family: 'Droid Serif', 'Serif';
 	color: #336699;
 	margin:10%;

 }
 .container {
 	background-color:#f5f5dc;
 	height: auto;
 	width: auto;
 	position: relative;
 	z-index: 0;

 }


h1 {
	font-size: 50px;
}
/*container for schedule*/
 #byroom {
 	
 	padding: 5%;
 	border: solid 5px;
 	border-color: #787753;
 	background-color: #284B68;
 	display: inline-block;
 	width: 60%;
 	float: left;
 	margin-left: 200px;
 	margin-right: 50px;

 }
 #pagechoice button {
 	color: #284b68;
 	background-color: #f5f5dc;
 }


/*table sytle*/
 td, tr {
 	width: 150px;
 	height: 30px;
 	border: solid 2px;
 	padding: 5px 5px 5px 10px
 	;


 }

th {
	font-color: #5BB75B; /*pastel green color*/
	font-size: 20px;
	border: solid 2px;
	padding: 10px;
}

 table {
 	border: solid 6px;
 	background-color: white;
 }

/*navbar*/
.sidebar {
	position: relative;
	width: 350px;
	padding: 30px;
	background: #284b68;
	z-index: 0;
	border: solid  5px;
	border-color: #787753;
	margin-right: 5px;
	float: right;
	color: #f5f5dc;
	display: inline-block;

}
#submit {
	color: #284b68;
	background-color: #f5f5dc;
	border: solid 5px;
	border-color: #787753;
}
.form-control{
	background-color: #f5f5dc;
	color:#284b68;
}



label {
	font-family: Georgia;
	font-style: normal;
}

 .checkbox-label {
 	display: inline-block;
 	
 }
 
 /*footer style*/